pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1
SQLAlchemy==2.0.35
requests==2.32.3
scipy==1.14.1
jupyter==1.1.1
python-pptx==0.6.23
streamlit==1.39.0
kaleido==0.2.1
Pillow==10.4.0
